.hero-container {
  background: url('../../public/images/img-5.jpg') center center/cover no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

.hero-container h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container p {
  color: #fff;
  font-size: 32px;
  margin-top: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-btns .btn {
  margin: 6px;
  width: 250px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
}

.btn-mobile {
  display: block;
  text-decoration: none;
}

/* Pridėta nauja taisyklė, skirta pašalinti pabraukimą ir centruoti tekstą */
.btn {
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
