/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  caret-color: #000;
}

/* === PAGE WRAPPER – CENTRAVIMAS === */
.projects-layout {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;

  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 40px 20px; /* šonams nedidelė erdvė */
}

/* === LEFT MENU === */
.projects-sidebar {
  width: 18%;
  height: 100%;
  background: #fff;
  padding: 28px 30px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.menu-title {
  font-size: 15px;
  font-weight: bold;
}
.menu-subtitle {
  margin-bottom: 10px;
  font-size: 10px;
  color: #666;
}

.menu-list {
  list-style: none;
  margin-top: 15px;
}
.menu-list li {
  margin-bottom: 18px;
}

.menu-list a {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 12px;
  border-radius: 10px;
  background: #f7f7f7;
  text-decoration: none;
  font-weight: 600;
  color: #333;
  font-size: 12px;
}

.menu-list span {
  font-size: 10px;
}

.menu-list a:hover,
.menu-list a.active {
  background:  rgb(181, 180, 180);
  color: black;
}

.menu-desc {
  font-size: 12px;
  color: #777;
  margin-left: 4px;
}

/* === MAIN CONTENT CARD (identical to recommendations-wrapper) === */
.projects-main-card {
  flex: 1;

  background: #fff;
  padding: 40px 45px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  min-width: 700px; /* kad nesulūžtų */
  max-width: 58%;
}
